@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  box-shadow: inset 1em 1em #fff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  cursor: pointer;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.modal-box {
  @apply p-8;
}
